@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);


body, h1{
  margin: 50px;
}

.form-checkbox{
  position: relative;

  input{
    position: absolute;
    appearance: none;
    width: 12px;
    height: 12px;
  }

  label{
    background: url(/components/images/un-check.svg) no-repeat 0 0 /contain;
    padding-left: 25px;
  }

  input:checked + label{
    background-image: url(/components/images/checked.svg);
  }

  input:focus{
    outline: none;
    /* outline-offset: 4px; */
  }
  
  input:focus-visible{
    outline: 2px solid red;
  }
}


.tooltip{
  margin-top: 50px;

  .tooltip-icon{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 0.25em;
    font-size: 10px;

    &:hover + .tooltip-content, &:focus + .tooltip-content{
      display: block;
    }
  }

  .tooltip-content{
    display: none;
    margin: 10px;
    background: rgba(0,0,0,0.5);
    padding: 15px;
    color: #fff;
    width: 15em;
  }
}