@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);

/* input 컴포넌트 */
.form-input{
    --spacing: 10px; 

    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing);
    
    input{
        flex-grow: 1;
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 1px 1px 1px 8px;
        height: 24px;
        block-size: 24px;
        width: 100%;
    }

}

.button{
    border: 0;
    padding: 16px 10px;
    background-color: ver(--bg-color);

    &:focus{
        outline: 0;
    }
    &:focus-visible{
        outline: 2px solid #green
    }
   

}
/* 로그인 */
.login{
    --box-start-color: var(--orange-100);
    --box-end-color: var(--orange-200);
    --box-shadow-color: var(--gray-700);

    background-image: radial-gradient(circle at right top, var(--box-start-color), var(--box-end-color));
    border-radius: 5px;
    padding: 12px;
    box-shadow: 5px 5px 0 0 var(--box-shadow-color);

    .login-title{
        --color: var(--yellow);
        color : var(--color);
        margin: 0;
        font-size: 0.9375rem;
    }

    .login-form{
        background-color: #fff;
        border-radius: 5px 5px 0 0;
        margin-top: 20px;
        padding: 10px;

        fieldset{
            border: 0;
            padding: 0;
            margin: 0;
            position: relative;
            height:70px;
            border-bottom:1px solid #ccc;

            div{
                margin-bottom: 5px;
            }

            label{
                display: inline-block;
                width: 4em;
                inline-size: 4em;
            }

            input{
                width: calc(100% - 145px);
                border:1px solid #aaa;
                border-radius: 3px;
                padding: 1px 1px 1px 8px;
                height:24px;
            }
        }

        
    }
    .login-button{
        border: 0;
        padding: 16px 10px;
        background-color: var(--orange-200);
        color: #fff;
        border-radius: 5px;
        position: absolute;
        right: 0;
        inset-inline-end: 0;
        top: 0;
        inset-block-start: 0;
    }
    
    .member-sign{
        background-color: #fff;
        margin: 0;
        list-style: none;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        li{

            a{
                text-decoration: none;
                color: inherit;
            }
        }
    }



}