/* 모든 디바이스 */
/* 모바일 디바이스 -  모바일 퍼스트 */
body {
  background: yellow;

  /* 320px 이상 640px 이하 */
  @media (min-width: 320px) and (max-width: 640px){
    & {
      background-color: orange;
    }
  }
}

/* 640px 이상 디바이스 */
@media (min-width: 640px) and (max-width: 800px){
  body{
    background: pink;
  }
}

/* 102px 이상 디바이스 */
@media (min-width: 1024px){
  body{
    background: lime;
  }
}