@import url(/theory/css/default.css);


body{
  /* font-size: clamp(0.75rem, 3vw, 2.25rem); */
}

.container{
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;

  /* div{
    background-color: #fff;
    box-shadow: 0 0 0 1px #000;
  } */
}

.container-fluid{
  margin: 0 auto;
  width: 80%;
  /* width: clamp(500px, 80%, 1200px); */
}

.container-fixed{
  width: 1200px;
  margin: 0 auto;
}

.header{
  height: 70px;
  block-size: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  padding: 0 20px;

  div{
    background-color: #fff;
    box-shadow: 0 0 0 1px #000;
  }
}

.logo{
  /* margin-right: auto;
  margin-inline-end: auto; */
  flex-shrink: 0;
}

.search{
  flex-basis: 500px;
  flex-grow: 1;
}

.login{
  order: 1;
  flex-shrink: 0;
}

.navigation{
  height: 50px;
  block-size: 50px;
}

.wrapper{
  display: flex;
  flex-flow: row nowrap;
  column-gap: 50px;
  flex: 1 0 0;
  /* overflow: auto; */
}

/* .main과 .sidebar를 Grouping */
.main{
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0; */
  flex: 1 0 0;
  box-shadow: 0 0 0 1px #000;
  min-width: 350px;

  .pagination{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
  }

}

.sidebar{
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px; */
  flex: 0 0 150px;
}

.footer{
  height: 50px;
  block-size: 50px;
}


.pagination{
  --text-color: var(--light-blue);
  --selected-text-color: var(--dark-blue);

  display: flex;
  flex-flow: row nowrap;
  column-gap: 0.5rem;

  button{
    border: 0;
    background: transparent;
    padding: 0;
    flex: 0 0 2rem;
  
  }

  div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 1 1 0;
    column-gap: 0.125rem;
    
    a{
      color: var(--text-color);
      padding: 0.5rem;

      &.is-selected{
        color: var(--dark-blue);
        font-weight: 700;
      }
    }
  }
}


