:root{
  --light-blue: #9EA7CD;
  --dark-blue: #24388D; 
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.yellow{
  background-color: rgb(243, 243, 105);
}

.green{
  background-color: rgb(43, 246, 171);
}

.pink{
  background-color: rgb(243, 187, 245);
}

.skyblue{
  background-color: rgb(175, 217, 249);
}

.orange{
  background-color: rgb(239, 176, 121);
}

.purple{
  background-color: rgb(194, 90, 215);
}

.gray{
  background-color: rgb(170, 169, 169);
}