@import url(/theory/css/default.css);


body{
  /* font-size: clamp(0.75rem, 3vw, 2.25rem); */
}

.container{
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;

  /* div{
    background-color: #fff;
    box-shadow: 0 0 0 1px #000;
  } */
}

.container-flude{
  margin: 0 auto;
  /* width: clamp(500px, 80%, 800px); */
}

.container-fixed{
  width: 1200px;
  margin: 0 auto;
}


.header{
  height: 70px;
  block-size: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 20px;
  padding: 0 20px;

  div{
    background-color: #fff;
    box-shadow: 0 0 0 1px #000;
  }
}

.logo{
  /* margin-right: auto;
  margin-inline-end: auto; */
  flex-shrink: 0;
}

.search{
  flex-basis: 500px;
  flex-grow: 1;
}

.login{
  order: 1;
  flex-shrink: 0;
}



.navigation{
  height: 50px;
  block-size: 50px;
}

.wrapper{
  display: flex;
  flex-flow: row nowrap;
  column-gap: 50px;
  flex: 1 0 0;
  overflow: auto;
}

/* .main과 .sidebar를 Grouping */
.main{
  flex-basis: 200px;
  flex-grow: 6;
  flex-shrink: 0;
}

.sidebar{
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 0;
}

.footer{
  height: 50px;
  block-size: 50px;
}