/* Color styles */
:root{
  --white: #FFFFFF;
  --black: #000000;
  --orange-200: #ED552F;
  --orange-100: #E8852E;
  --content: #181818;
  --gray-100: #F5F5F5;
  --gray-200: #EBEBEB;
  --gray-300: #E0E0E0;
  --gray-400: #D6D6D6;
  --gray-500: #CCCCCC;
  --gray-600: #A3A3A3;
  --gray-700: #7A7A7A;
  --gray-800: #525252;
  --gray-900: #292929;
  --blue: #296897;
  --yellow: #FFFF00;
  --green: #447231;
}


