<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>검색 폼</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/components/css/search.css" />
  </head>
  <body>
    <h1>검색 폼</h1>
    
    <form action="/" class="search"> 
      <div class="search-group">
        <div class="form-input">
          <label for="search"><span class="fab fa-sistrix"></span>자료검색</label>
          <input type="search" id="search" name="search" required placeholder="검색어를 입력하세요."/>
        </div>
        <button type="submit" class="button search-button">검색</button>
      </div>
    </form>
  </body>
</html>
